@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли свой пароль?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
                <label for="email">Введите адрес электронной почты</label><br />
                <input type="text" asp-for="Input.Email" id="email" class="form-control" autocomplete="username" placeholder="Почта" />            
                <span asp-validation-for="Input.Email" class="text-danger"></span><br />
                <label for="newpasswort">Введите новый пароль</label><br />
                <input type="text" asp-for="Input.NewPasswort" id="newpasswort" class="form-control" aria-required="true" placeholder="Пароль" />
                <span asp-validation-for="Input.NewPasswort" class="text-danger"></span><br/>           
            <button type="submit" class="w-100 btn btn-lg btn-primary">Изменить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
